.list-department{
    height: 385px;
    background: #F8F8F8;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    padding: 2rem;
    gap: 2rem;
}

.list-department__element{
    min-width: 489px;
    height: 196px;
    width: 40%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-brand1);
    padding: 1rem;
}

.list-department__element__info{
    font-size: 1.125rem;
    font-weight: 400;
    gap: 1rem;
}
.list-department__element__info__departament-name{
    font-size: 1.25rem;
    font-weight: 700;
}
.list-department__element__icons{
    gap: 2rem;
}