.color-brand1{
    color: var(--color-brand1);
}
.color-brand2{
    color: var(--color-brand2);
}
.color-red{
    color: var(--color-action2);
}
.color-yellow{
    color: var(--color-action3);
}
.color-mode{
    color: var(--color-mode);
}
.color-black{
    color: black;
}

.bg-color-brand1{
    background-color: var(--color-brand1);
}
.bg-color-mode{
    background-color: var(--color-mode);
}

.border-color-brand1{
    border-color: var(--color-brand1);
}