select {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: 400;
    width: 100%;
  }

.select-sector select{
  appearance: none;
}

.select-sector{
  position: relative;
}
.triangle{
  position: absolute;
  right: 3%;
  top: 35%;
  pointer-events: none;
}