.home-companies{
    gap: 2rem;
}

.home-companies__list--container{
    box-shadow: 1px 1px 35px rgba(0, 0, 0, 0.22);
    padding: 2rem;
    gap: 2rem;
}

.home-companies__list__title{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.438rem;
    min-width: 489px;
}

.home-companies__list{
    gap: 1.5rem;
    height: 635px;
    overflow-y: auto;
}
.home-companies__list__element{
    border: 1px solid #0000FF;
    padding: 1.5rem;
    gap: 1rem;
    max-height: 116px;
}
.home-companies__list__element__company-name{
    font-size: 1.25rem;
    font-weight: 700;
}
.home-companies__list__element__category{
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid #0000FF;
    border-radius: 255px;
    padding: 0.5rem 2rem;
    max-width: 110px;
}